@model IEnumerable<HaatBazaar.Web.Models.User>

@{
    ViewData["Title"] = "Index";
}
<div class="seller-page-product mt-5">
    <div class="container">
        <aside class="user-details">
            <div class="user-dp">
                <img src="https://placehold.co/150" alt="">
            </div>
            <ul>
                <li>
                    <h4>Ram Bahadur Bomjon</h4>
                </li>
                <li>
                    <h4>980-3327689</h4>
                </li>
                <li>
                    <h4>33 Products</h4>
                </li>
            </ul>
        </aside>
    </div>
</div>