################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blueprint
/HaatBazaar.Web/bin
/HaatBazaar.Web/obj
/HaatBazaar.Web/appsettings.Development.json
/HaatBazaar.Web/appsettings.json
/.vs/ProjectEvaluation
/HaatBazaar.Web/wwwroot/js/main.js
./appsettings.json
/node_modules
