################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blueprint
/HaatBazaar.Web/bin
/HaatBazaar.Web/obj
/HaatBazaar.Web/appsettings.Development.json
/HaatBazaar.Web/appsettings.json
/.vs/ProjectEvaluation
/HaatBazaar.Web/Properties/PublishProfiles/FolderProfile.pubxml
/HaatBazaar.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
