<div class="container">
    <div class="row">
        <div class="container-fluid mb-5 mt-5">
            <div class="login-box">
                <div class="card card-outline card-primary">
                    <div class="card-body login-card-body">
                        <h3 class="register-box-msg fw-bold">Login</h3>
                        <form action="" method="post">

                            <div class="input-group mb-1">
                                <div class="form-floating"> <input id="loginPhone" type="tel"
                                        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" class="form-control" placeholder=""
                                        required>
                                    <label for="loginPhone">Phone Number</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-phone"></span> </div>
                            </div>
                            <div class="input-group mb-1">
                                <div class="form-floating"> <input id="loginPassword" type="password"
                                        class="form-control" placeholder=""> <label for="loginPassword">Password</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-lock-fill"></span> </div>
                            </div> <!--begin::Row-->
                            <div class="row">
                                <div class="col-4">
                                    <div class="d-grid gap-2"> <button type="submit" class="btn btn-primary">Sign
                                            In</button>
                                    </div>
                                </div> <!-- /.col -->
                            </div> <!--end::Row-->
                        </form>
                        <p class="mb-1"> <a href="forgot-password.html">I forgot my password</a> </p>
                        <p class="mb-0">
                            <a class="text-center" asp-controller="login" asp-action="register">
                                Register a new membership
                            </a>
                        </p>
                    </div> <!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </div>
</div>