@model HaatBazaar.Web.Models.Register

<div class="container">
    <div class="row">
        <div class="container-fluid  mb-5 mt-5">
            <div class="register-box"> <!-- /.register-logo -->
                <div class="card card-outline card-primary">
                    <div class="card-body register-card-body">
                        <h4 class="register-box-msg">Register a new membership</h4>
                        <form id="user-register-form" action="" method="post">
                            @Html.AntiForgeryToken()
                            <div class="input-group mb-4">
                                <div class="form-floating">
                                    <input required asp-for="FirstName" type="text" class="form-control" placeholder="">
                                    <label asp-for="FirstName">First Name</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-person"></span> </div>
                            </div>
                            <div class="input-group mb-4">
                                <div class="form-floating">
                                    <input required asp-for="LastName" type="text" class="form-control" placeholder="">
                                    <label asp-for="LastName">LastName</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-person"></span> </div>
                            </div>
                            <div class="input-group mb-4">
                                <div class="form-floating">
                                    <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="" required>
                                    <label asp-for="PhoneNumber">Phone Number</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-phone"></span> </div>
                            </div>
                            <div class="input-group mb-4">
                                <div class="form-floating">
                                    <input asp-for="Email" type="email" class="form-control"
                                        placeholder="">
                                    <label asp-for="Email">Email</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-envelope"></span> </div>
                            </div>
                            <div class="input-group mb-4">
                                <div class="form-floating">
                                    <input asp-for="Password" type="password" class="form-control"
                                        placeholder="">
                                    <label asp-for="Password">Password</label>
                                </div>
                                <div class="input-group-text"> <span class="bi bi-lock-fill"></span> </div>
                            </div> <!--begin::Row-->
                            <div class="visually-hidden">
                                <input asp-for="Latitude" type="hidden">
                                <input asp-for="Longitude" type="hidden">
                            </div>
                            <div class="row">
                                <div class="col-8 d-inline-flex align-items-center">
                                    <div class="form-check">
                                        <input required class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree to the <a href="#">terms</a> </label>
                                    </div>
                                </div> <!-- /.col -->
                                <div class="col-4">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </div>
                                </div> <!-- /.col -->
                            </div> <!--end::Row-->
                        </form>

                        <p class="mb-0">
                            <a asp-controller="login" asp-action="login" class="link-primary text-center">I already have
                                a
                                membership</a>
                        </p>
                    </div> <!-- /.register-card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

                $('#Latitude').val(lat);
                $('#Longitude').val(lon);
                console.log(lat, lon);
            });
        }

        // Set the values of the hidden input fields

    });
</script>