@model HaatBazaar.Web.Models.Item

@{
    ViewData["Title"] = "Create";
}
<style>
    .site-main {
        margin-top: 60px;
    }
</style>
<div class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Create New Product</h2>
                <hr />
                <form asp-action="Create">
                    <div class="card-body">
                        <div class="row g-3">
                            <div aria-colspan="col-md-12" asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Select the Appropiate Values</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-name-select" class="form-label">Product Name</label>
                                            <select class="form-select" id="product-name-select" required="">
                                                <option selected="" value="">Choose...</option>
                                                <option value="potato">Potato</option>
                                                <option>Tomato</option>
                                                <option>Apple</option>
                                                <option>Orange</option>
                                            </select>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-cat-select" class="form-label">Product Category</label>
                                            <select class="form-select" id="product-cat-select" required="">
                                                <option selected="" disabled="" value="">Choose...</option>
                                                <option>Fruits</option>
                                                <option>Vegitables</option>
                                                <option>Meat</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-tag-select" class="form-label">Product Tags</label>
                                            <select class="form-select" id="product-tag-select" required="">
                                                <option selected="" disabled="" value="">Choose...</option>
                                                <option>Tag 1</option>
                                                <option>Tag 2</option>
                                                <option>Tag3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-unit-select" class="form-label">Product Unit</label>
                                            <select class="form-select" id="product-unit-select" required="">
                                                <option selected="" disabled="" value="">Choose...</option>
                                                <option>KG</option>
                                                <option>GM</option>
                                                <option>LTR</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label class="control-label" for="product-price-input">Product Price</label>
                                            <input class="form-control" type="text" data-val="true"
                                                data-val-required="The Name field is required." id="product-price-input"
                                                value="">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <div class="control-label mb-4">Product Image</div>
                                            <div class="input-group">
                                                <input type="file" class="form-control" id="inputGroupFile02">
                                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Suggest the desired value you want to display.</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="validationCustom04" class="form-label">Product Name</label>
                                            <input class="form-control" type="text" data-val="true"
                                                data-val-required="The Name field is required." id="product-name-input"
                                                name="price" value="">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-cat-input" class="form-label">Product Category</label>
                                            <input class="form-control" type="text" data-val="true"
                                                data-val-required="The Name field is required." id="product-cat-input"
                                                value="">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-tag-input" class="form-label">Product Tags</label>
                                            <input class="form-control" type="text" data-val="true"
                                                data-val-required="The Name field is required." id="product-tag-input"
                                                value="">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="product-unit-input" class="form-label">Product Unit</label>
                                            <input class="form-control" type="text" data-val="true"
                                                data-val-required="The Name field is required." id="product-unit-input"
                                                value="">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create Product" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-lg-6 mt-4">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        function toggleInput(selectId, inputId) {
            $(selectId).change(function () {
                $(inputId).prop('disabled', !!$(this).val());
            });
        }

        toggleInput('#product-name-select', '#product-name-input');
        toggleInput('#product-cat-select', '#product-cat-input');
        toggleInput('#product-unit-select', '#product-unit-input');
        toggleInput('#product-tag-select', '#product-tag-input');
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
